# Ignoriere Verzeichnisse
/*

/*/_misc
/*/*/_misc


# Ignoriere Dateien nach einem vorgegebenen Muster
*.pptx
*.png
*.jpeg

# Ignoriere Dateien


# Erlaube Git, spezifische Verzeichnisse/Dateien zu verfolgen
!requirements.txt

